name: Build Heavy APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Deps
        run: pip install flet flet_audio cryptography
      - name: Build
        run: flet build apk --project "GhostPRO" --include-all-assets --release
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO_V12
          path: build/apk/*.apk
