
name: Build_GHOST_V13
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install flet firebase-admin
          # УБИРАЕМ ЛЮБОЕ УПОМИНАНИЕ RICH

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Build APK
        run: |
          # Сначала обновляем кли, чтобы не было ошибок аргументов
          pip install --upgrade flet
          flet build apk --project "GhostV13"
        
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: GhostV13_Final
          path: build/apk/*.apk
