name: Build Ghost APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - run: pip install -r requirements.txt
      - name: Build
        run: flet build apk --project "GhostPRO"
      - uses: actions/upload-artifact@v4
        with:
          name: Ghost-APK
          path: build/apk/*.apk
