name: GHOST_PRO_CORE_BUILD
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install flet cryptography firebase-admin Pillow

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Build APK
        run: |
          # Убираем все лишние аргументы, чтобы flet-cli не выдавал ошибку unrecognized arguments
          # Иконка подтянется автоматически, если она лежит в assets/icon.png
          yes | flet build apk --project "GhostPRO" --org "org.ghost"
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO_V13_Full_Build
          path: build/apk/*.apk
