name: Build Ghost PRO
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Install Libraries
        run: pip install flet firebase-admin

      - name: Build Android APK
        run: flet build apk --project "Ghost PRO"

      - name: Save APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Final-Build
          path: build/apk/*.apk
