name: Build Ghost PRO
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Flutter Setup
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Deps
        run: pip install flet firebase-admin

      - name: Build APK
        run: flet build apk --project "Ghost PRO"

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Final
          path: build/apk/*.apk
