name: Build Ghost PRO APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - run: pip install flet flet_firebase
      - name: Build
        run: |
          # Собираем с указанием package_name из твоего json
          flet build apk --project "GhostPRO" --package "org.ghost.ghost_messenger_secure"
      - uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Final
          path: build/apk/*.apk
