name: Build Ghost PRO
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Build APK Final
        run: flet build apk --project "Ghost PRO"

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Successful-APK
          path: build/apk/*.apk
