name: Build Ghost PRO
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - name: Install Deps
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build APK
        run: |
          # Упрощенная команда без лишних флагов, которые ломают билд
          flet build apk --project "GhostPRO"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Build
          path: build/apk/*.apk
