name: Build Ghost PRO
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - name: Install Flet
        run: pip install flet cryptography flet_audio
      - name: Build APK
        run: flet build apk --project "GhostPRO"
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Ultimate
          path: build/apk/*.apk
