name: Build Ghost Private APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - run: pip install flet firebase-admin
      - name: Build
        run: |
          yes | flet build apk --project "GhostPRO" --package "org.ghost.ghost_messenger_secure"
      - uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Private
          path: build/apk/*.apk
