name: GHOST_PRO_STABLE_BUILD
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install flet cryptography firebase-admin Pillow

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Build APK
        run: |
          # Сборка без интерактивных запросов
          flet build apk --project "GhostPRO" --org "org.ghost" --release
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO_V13_Release
          path: build/apk/*.apk
